<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "phonegaptest.outsystems.com"
        version   = "0.0.1">
    <name>Hello World</name>
    <description>
        Hello World sample application to test PhoneGap.
    </description>
    <author href="http://phonegap.com" email="support@phonegap.com">OutSystems</author>
</widget>
